 
 <p>
 	<style>
	ol li {list-style-image: url('http://www.shophq.com/images/stylesheetimgs/checkMarkSmall.gif');
		padding-top: 1px;}
	</style>

 	<h1><u>About us</u></h1>
 	<ol>
 	 <li> &nbsp;We wanted to create a site where users could create posts, focused on historical events, which would visually represented on a timeline.  We wanted users to be able to comment on those posts, and tag those posts.  We wanted anyone to be able to see the timeline, but only wanted users who are signed in to be able to edit the page. </li>
 	 <li> &nbsp;We wanted users (signed in or not) to be able to search for specific, posts or tags. </li> 

 	 <li> &nbsp;We wanted the user who created posts to be the only people who could edit his/her post, but we wanted any signed-in user to be able to comment on a post. </li>
 	 </ol>

 </p>
  


 <iframe id="bg" width="50%" height="50%" src="//www.youtube.com/embed/vgmNkYUL_Cw?autoplay=1" frameborder="0" allowfullscreen></iframe>



<!-- <video>
 <source src="//www.youtube.com/embed/vgmNkYUL_Cw?autoplay=1" type="video/webm" />
</video> 


use for non-youtube-->



  <p>
	<style>
	li li {list-style-image: url('http://www.shophq.com/images/stylesheetimgs/checkMarkSmall.gif')}
	</style>

 	<h1><u>Navigation Bar</u></h1>
 	<ul style="list-style-type: none;">
 		<li> 
 			<b>Homepage/Timeline</b>
 			<ul><li> 
 			&nbsp; At any point a user can go to our homepage and view the timeline by clicking the 'Home' button located top-left on every page 
 			</li>
 			<li> 
 			&nbsp; Once a user is on the homepage, he/she can read the content of a post by clicking on the title of that post.  When he/she clicks on the title, he/she will be taken to a page that shows the content of that post.
 			</li>
 			</ul>
 		</li>

	 	 <li>
	 	 	<b>Register/Sign In</b></br>
	 	 	<ul>
	 	 	  <li>&nbsp;Register - If a user is not registered with our site, they can do so by clicking the 'Register Button', located top-right of each page.</li>
	 	 	 <li>&nbsp;Sign In - If a user is registered with Hiki, he/she can sign-in by clicking the 'Sign In' button, located next to the register button.</li>
	 	 	</ul>
	 	 </li>


	 	 <li>
	 	 	<b>Registered User</b></br>
	 	 	<ul>
	 	 	  <li>&nbsp;Create/Edit/Delete a Post - In order to create/edit/delete a post a user should go to his/her Welcome Center.  This option will be available after a user signs in.  Once a user is signed in, the 'Sign In' button located on the Navigation bar, will change, and will read 'Welcome User' (User will be the name that you gave when you registered).  Clicking this button will take you to your Welcome Center/Editing page.</li>

	 	 	  <li>&nbsp;Creating a Comment - 
	 	 	  	When a user is signed-in, he/she is able to create a comment on a post, by clicking on title of the post, going to that post's content page, and clicking the 'Create a Comment' button.  ** If a user is not signed in, he/she will not be able to create comments.</li>
	 	 	</ul>
	 	 </li>

 </p>


