<p id="notice"><%= notice %></p>
<h1><u><%= @tag.tag_text %></u></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <ol>
    <% @posts.each do |post| %>

      <li>
        <%= link_to post.post_title, post %></br>
        <%= post.post_date %></br>
      </li> </br>


    <% end %>
    </ol>

  </tbody>
</table>