<script src="http://d3js.org/queue.v1.min.js"></script>
<% javascript 'timeline.js' %>

<div class="container">
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="centeredcontent">
      <h1>Last Five Posts</h1>
      <ol>
      <% @posts.each do |post| %>
        <li>
          <%= link_to post.post_title, post %></br>
          <%= post.post_date %></br>
        </li> </br>
      <% end %>
      </ol>
    <div>
  </tbody>
</table>

<br>
</div>

