.timeline {
  margin: 50px;
  position: relative;
}

.timeline .canvas{
  overflow:hidden;
  position: relative;
  border: 1px solid black;
  height: 30px;
  background-color: #DDDDEE;
  width: 100%;
}

.timeline .start-date{
  float:left;
}

.timeline .end-date{
  float:right;
}

.clear{
  clear: both;
  margin-bottom: 20px;
}

.timeline .canvas .block {
  position: relative;
  stroke: white;
}

.timeline .dropdown {
  position:absolute;
  top: 45px;
  background: #CCCCFF;
  border: 1px solid black;

  padding: 5px;
}

.timeline .dropdown li {
  margin: 5px;
}

.timeline .dropdown li:hover {
  color: white;
}


.q0 { fill:none; stroke-width: 0; }
.q1 { fill: #555555; }
.q2 { fill: #6C5F5E; }
.q3 { fill: #826561; }
.q4 { fill: #996A5E; }
.q5 { fill: #B06E56; }
.q6 { fill: #C67247; }
.q7 { fill: #DD7733; }
