.timeline {
  margin: 50px;
}

.timeline .canvas{
  position: relative;
  border: 1px solid black;
  height: 30px;
  background-color: #EECCCC;
}

.timeline .start-date{
  float:left;
}

.timeline .end-date{
  float:right;
}

.clear{
  clear: both;
  margin-bottom: 20px;
}

.timeline .canvas .block {
  position:absolute;
  height: 26px;
  box-sizing: content-box;
  background-color: #CCCCFF;
  border: 1px solid white;
}

.timeline .dropdown {
  position:absolute;
  background: #CCCCFF;
  border: 1px solid black;

  padding: 5px;
}

.timeline .dropdown li {
  margin: 5px;
}

.timeline .dropdown li:hover {
  color: white;
};